font-family: 'Montserrat', sans-serif;

font-family: 'PT Serif', serif;

h1 {
  text-align: center;
}

h5 {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.caption {
  font-style: italic;
}

.row {
  text-align: center;
}

footer {
  text-align: center;
  background-color: black;
  color: white;
}
