#content {
            width: 900px;
            margin: 0 auto;
          }

#pics {
            width: 600px;
            margin: 0 auto;
          }

#byline {
            font-family: Helvetica, sans-serif;
            font-size: 14px;
            font-style: italic;
          }

#date {
            font-family: Helvetica, sans-serif;
            font-size: 12px;
            font-style: italic;
          }

h2 {
            font-family: Helvetica, sans-serif;
            font-size: 28px;
            font-style: italic;
          }

p {
            line-height: 1.5;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 12px
          }

h3 {
            font-family: Helvetica, sans-serif;
            font-size: 13px;
          }

h4 {
            font-family: Helvetica, sans-serif;
            font-size: 17px;
            font-style: italic;
          }

figcaption {
              font-family: Helvetica, sans-serif;
              font-size: 12px;
              font-style: italic;
            }
